{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "airbnb/base"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-tabs": "off",
    "arrow-parens": "off",
    "import/newline-after-import": "off",
    "no-useless-constructor": "off",
    "class-methods-use-this": "off",
    "max-len": "off",
    "consistent-return": "off"
  }
}
